
@charset "utf-8";
/* CSS Document */

body
{

    margin:0;
    color:#fff;
    box-sizing: border-box;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;

}

a
{
    text-decoration:none;
}
[hidden], template {
    display: none;

}




header, section, footer, aside, nav, main, article, figure {
    display: block;
}
.nav-login
{
    position: relative;
    top: 10px;

    text-align: right;
    right: 10px;
}
.nav-login a
{
    color: #908d8b;
}
.logout-icon
{
    padding-left: 4px;
    font-size: 1.3em;
    color: #6F9C32;
    top: 4px;
}
.logout-icon:hover
{
    color: #45611F;
    font-size: 1.2em;
}
.login-text
{
    color: #908d8b;
    font-size: 13px;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;

}
@media (min-width: 992px)
{
    .col-md-4.search
    {
        float: right;
    }
}
@media only screen and (max-width : 990px)
{
    .col-md-8.tab-left
    {
        top:0;
    }
    .col-md-4.search
    {
        width: 50%;
        position: relative;
        bottom: 20px;


    }
    span.col-md-12.col-sm-6.cart-shop
    {
        float: right;
        top: 35px;
        right: 15px;
    }
    span.col-md-12.col-sm-6.cart-shop:hover
    {
        color: #89C43D;
    }
    ul.nav.navbar-nav.nav-main li
    {
        width: 24.5%;
    }
    .search-box
    {
        margin-left: 15px;
    }
    div#bs-example-navbar-collapse-9
    {
        position: relative;
        right: 10px;
    }
}
@media only screen and  (max-width : 480px)
{
    .col-md-4.col-sm-6.specialHero {
        width: 48%;
        margin-left: 8px
    }
    article.content
    {
        width: 90%;
        margin: 0 auto;
    }
    article.main-content
    {
        width: 90%;
        margin: 0 auto;
    }
    .col-md-4.search
    {
        width: 100%;
    }
    span.col-md-12.col-sm-6.cart-shop
    {
        width: 100%;
        top: -25px;
    }
    ul.nav.navbar-nav.nav-main li
    {
        width: 100%;
    }
    .list-hero-edit .listhero-name
    {
        width: 100%;
    }
}

@media only screen and (min-width: 470px) and (max-width: 908px)
{
    .col-md-4.col-sm-6.specialHero {
        width: 48%;
        margin-left: 8px
    }
    article.content
    {
        width: 90%;
        margin: 0 auto;
    }
    article.main-content
    {
        width: 90%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 450px) {

    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: block;
    }
    .nav>li
    {
        float: right;
    }
    .create-form.col-md-6,.col-md-6.oneInput
    {
        width: 100%;
    float:right;
    }
    .list-hero-edit
    {
        width: 75%;
    }


}
@media (max-width: 768px) {

    .col-md-4.btn-upload
    {
        top:340px;
    }
    .col-md-12.edit-button
    {
        text-align: center;
    }
    article.content
    {
        width: 90%;
    }
}

header
{
    width:100%;

    height:68px;
    position:fixed;
    top:0;
    margin-bottom:1px;
    z-index: 10001;
    background-image: linear-gradient( to top, #171717, #111111, #040404, #010101 );
    border-bottom: 2px solid #31302F;
    -webkit-box-shadow: 0px 19px 10px 0px rgba(0, 0, 0, 0.25); /* WebKit */
    -moz-box-shadow: 0px 19px 10px 0px rgba(0, 0, 0, 0.25); /* Firefox */
    box-shadow: 0px 19px 10px 0px rgba(0, 0, 0, 0.25); /* Standard */

}
.main-body
{
    background: url("../images/bg_main.png") repeat;
}
.main-content
{
    margin: 100px auto 0 auto;
    width: 70%;

}
.head-top
{
    margin-top: 10px;
}
nav.navbar.navbar-inverse
{
    margin: 0;
}

.content{
    width: 70%;
    margin: 10px auto 0;
}
.col-md-8.tab-left
{
    padding-left: 0px;
    padding-left: 0px;
}

.cart-shop
{
    text-align: right;
    color: #6f9c32;
}
.cart-shop:hover
{
    color: #89C43D;
}
.search
{

    left: -5px;

}

.search-box
{
    width: 100%;
    height: 51px;

    background: rgb(36,40,43); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(36,40,43,1) 0%, rgba(44,47,52,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,40,43,1)), color-stop(100%,rgba(44,47,52,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(36,40,43,1) 0%,rgba(44,47,52,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(36,40,43,1) 0%,rgba(44,47,52,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(36,40,43,1) 0%,rgba(44,47,52,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(36,40,43,1) 0%,rgba(44,47,52,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24282b', endColorstr='#2c2f34',GradientType=0 ); /* IE6-9 */

}
.search-box input:focus {
    outline: none;

}

.search-input
{
    width: 88%;
    background-color: #444A54;
    border: 0;
    padding: 3px 10px;
    margin: 12px 20px;
    border-radius: 15px;
    color: #ffffff;
}
:focus::-webkit-input-placeholder { color:transparent; }
:focus:-moz-placeholder { color:transparent; }
.search-icon:before
{
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 8%;
    top: 30%;
    color: #969AA1;
}
.nav-main
{
    width: 100%;
}
.container-fluid-nav
{
    padding: 0px;
}
.nav-main-admin
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a515b+0,444a54+100 */
    background: #4a515b; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a515b 0%, #444a54 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a515b), color-stop(100%,#444a54)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a515b 0%,#444a54 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a515b 0%,#444a54 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a515b 0%,#444a54 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a515b 0%,#444a54 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a515b', endColorstr='#444a54',GradientType=0 ); /* IE6-9 */

}
.content-admin
{
    width: 72%;
    margin: 0px auto 0;
}
.nav-main li
{
    width: 24.5%;
    margin-right: 2px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background: #25292d;
    background: -moz-linear-gradient(top, #25292d 1%, #3c414b 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#25292d), color-stop(99%,#3c414b));
    background: -webkit-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: -o-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: -ms-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: linear-gradient(to bottom, #25292d 1%,#3c414b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25292d', endColorstr='#3c414b',GradientType=0 );
    color: #969aa1;
}
.active
{

}
.tab-left
{
    margin-bottom: 10px;
}
.nav.nav-main.navbar-nav
{
    text-align: center;
    font-size: 15px;
}
ul.nav.navbar-nav.nav-main li a:hover
{
    background-color: #525A63;
}
.item-box,.item-hero
{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;

}
.item-box-image
{
    width: 100%;
    position: relative;
}
.item-box:hover .shop-hover
{
    display: inline-block;

}
.item-box:hover .item-info
{
    color: transparent;
}
.item-box:hover .item-box-image
{
    border: .2em solid #4F2A92;
    border-bottom: 0;

    -webkit-box-shadow: 0px -4px 10px 0px rgba(255, 255, 255, 0.2); /* WebKit */
    -moz-box-shadow: 0px -4px 10px 0px rgba(255, 255, 255, 0.2); /* Firefox */
    box-shadow: 0px -4px 10px 0px rgba(255, 255, 255, 0.2); /* Standard */
}
.item-info
{
    font-size: 12px;
    text-align: center;
    color: #686868;
    padding: 6px;

}
.item-info div:nth-of-type(1)
{
    font-size: 13px;
    color: #eeeeee;
}
.shop-hover
{    width: 80%;
    height: 50px;
    background-color: #262A2D;
    position: absolute;
    top: 49.9%;
    right: 18px;
    display: none;
}
.shop-hover div
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008a00+22,008a00+22,005700+99,005700+100,6a9630+100,83c783+100,52b152+100,005700+100,6a9630+100,6a9630+100,83c783+100,005700+100 */
    background: rgb(0,138,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,138,0,1) 22%, rgba(0,138,0,1) 22%, rgba(0,87,0,1) 99%, rgba(0,87,0,1) 100%, rgba(106,150,48,1) 100%, rgba(131,199,131,1) 100%, rgba(82,177,82,1) 100%, rgba(0,87,0,1) 100%, rgba(106,150,48,1) 100%, rgba(106,150,48,1) 100%, rgba(131,199,131,1) 100%, rgba(0,87,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(0,138,0,1)), color-stop(22%,rgba(0,138,0,1)), color-stop(99%,rgba(0,87,0,1)), color-stop(100%,rgba(0,87,0,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(131,199,131,1)), color-stop(100%,rgba(82,177,82,1)), color-stop(100%,rgba(0,87,0,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(131,199,131,1)), color-stop(100%,rgba(0,87,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,138,0,1) 22%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(0,87,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,138,0,1) 22%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(0,87,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,138,0,1) 22%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(0,87,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,138,0,1) 22%,rgba(0,138,0,1) 22%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(0,87,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#005700',GradientType=0 ); /* IE6-9 */

    padding: 10px;
    margin: 6px;

}
.shop-hover div:hover
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008a00+22,009e2a+29,009e2a+32,005700+99,005700+100,6a9630+100,007a1a+100,005700+100,6a9630+100,6a9630+100,83c783+100,52b152+100,83c783+100 */
    background: rgb(0,138,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,138,0,1) 22%, rgba(0,158,42,1) 29%, rgba(0,158,42,1) 32%, rgba(0,87,0,1) 99%, rgba(0,87,0,1) 100%, rgba(106,150,48,1) 100%, rgba(0,122,26,1) 100%, rgba(0,87,0,1) 100%, rgba(106,150,48,1) 100%, rgba(106,150,48,1) 100%, rgba(131,199,131,1) 100%, rgba(82,177,82,1) 100%, rgba(131,199,131,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(0,138,0,1)), color-stop(29%,rgba(0,158,42,1)), color-stop(32%,rgba(0,158,42,1)), color-stop(99%,rgba(0,87,0,1)), color-stop(100%,rgba(0,87,0,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(0,122,26,1)), color-stop(100%,rgba(0,87,0,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(106,150,48,1)), color-stop(100%,rgba(131,199,131,1)), color-stop(100%,rgba(82,177,82,1)), color-stop(100%,rgba(131,199,131,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,158,42,1) 29%,rgba(0,158,42,1) 32%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(0,122,26,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(131,199,131,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,158,42,1) 29%,rgba(0,158,42,1) 32%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(0,122,26,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(131,199,131,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,138,0,1) 22%,rgba(0,158,42,1) 29%,rgba(0,158,42,1) 32%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(0,122,26,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(131,199,131,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,138,0,1) 22%,rgba(0,158,42,1) 29%,rgba(0,158,42,1) 32%,rgba(0,87,0,1) 99%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(0,122,26,1) 100%,rgba(0,87,0,1) 100%,rgba(106,150,48,1) 100%,rgba(106,150,48,1) 100%,rgba(131,199,131,1) 100%,rgba(82,177,82,1) 100%,rgba(131,199,131,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#83c783',GradientType=0 ); /* IE6-9 */

}
.price-item
{
    font-size: 12px;
    color: #ffffff;

}
.specialHero
{
    background: #071215;
    padding: 0;
    margin-bottom: 10px;
}
.discounted-box
{


    background-color: #071215;


}

.tab-right.col-md-4.col-sm-6
{
    padding: 0;
}
.discounted-box h1
{
    width: 100%;
    margin: 0;
    padding: 8px 10px;
    font-size: 14px;
    color: #676e7a;
    margin-bottom: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1d1f+0,2f343a+38,1f2326+85,1f2326+86,1f2326+86,1f2326+87,1f2326+87,2a2e33+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1d1f+0,25292c+49,1f2326+85,1f2326+86,1f2326+86,1f2326+87,1f2326+87,2a2e33+100 */
    background: rgb(26,29,31); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(26,29,31,1) 0%, rgba(37,41,44,1) 49%, rgba(31,35,38,1) 85%, rgba(31,35,38,1) 86%, rgba(31,35,38,1) 86%, rgba(31,35,38,1) 87%, rgba(31,35,38,1) 87%, rgba(42,46,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,29,31,1)), color-stop(49%,rgba(37,41,44,1)), color-stop(85%,rgba(31,35,38,1)), color-stop(86%,rgba(31,35,38,1)), color-stop(86%,rgba(31,35,38,1)), color-stop(87%,rgba(31,35,38,1)), color-stop(87%,rgba(31,35,38,1)), color-stop(100%,rgba(42,46,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(26,29,31,1) 0%,rgba(37,41,44,1) 49%,rgba(31,35,38,1) 85%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 87%,rgba(31,35,38,1) 87%,rgba(42,46,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(26,29,31,1) 0%,rgba(37,41,44,1) 49%,rgba(31,35,38,1) 85%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 87%,rgba(31,35,38,1) 87%,rgba(42,46,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(26,29,31,1) 0%,rgba(37,41,44,1) 49%,rgba(31,35,38,1) 85%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 87%,rgba(31,35,38,1) 87%,rgba(42,46,51,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(26,29,31,1) 0%,rgba(37,41,44,1) 49%,rgba(31,35,38,1) 85%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 86%,rgba(31,35,38,1) 87%,rgba(31,35,38,1) 87%,rgba(42,46,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1d1f', endColorstr='#2a2e33',GradientType=0 ); /* IE6-9 */


}

.discounted-box img
{
    width: 100%;
    height: 180px;
    position: relative;

}
.discounted-box .discounted-box-text
{
    box-sizing: content-box;
    position: absolute;
    width: 96%;
    height: 180px;
    position:absolute;
    top:27px;
    left:3px;
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius:5px;
    background-color: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
    z-index: 2;
}
.discounted-box:hover .discounted-box-text
{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.discounted-box-text
{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.discounted-box-text p
{
    padding: 30px;
    color: #FFF600;
}
.discounted-hero
{
    width: 38px;
    color: #bcbcbc;
    position: absolute;
    z-index: 1;
}
.discounted-hero-hide
{
    display: none;
}
.discounted
{
    width: 68px;
    color: #bcbcbc;
    position: absolute;
    z-index: 1;
    height: 36px;

}
.discounted-item
{
    margin: 0;
    width: 100%;

    font-size: 19px;
    padding-top: 6px;
    background: #2b3c15;
    background: -moz-linear-gradient(top, #2b3c15 0%, #4d6c22 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b3c15), color-stop(100%,#4d6c22));
    background: -webkit-linear-gradient(top, #2b3c15 0%,#4d6c22 100%);
    background: -o-linear-gradient(top, #2b3c15 0%,#4d6c22 100%);
    background: -ms-linear-gradient(top, #2b3c15 0%,#4d6c22 100%);
    background: linear-gradient(to bottom, #2b3c15 0%,#4d6c22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3c15', endColorstr='#4d6c22',GradientType=0 );
    color: #d3cbc7;
    text-shadow: 1px 1px 1px #263810;
    position: relative;

    font-size: 18px;
    text-align: center;
    display: block;
}

.carousel-inner
{
    height: 610px;
    background-color: #071215;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img
{
    height: 550px;
}
.tab-content
{
    background-color: #071215;
    width: 100%;
}

.carousel-item
{
    width: 100%;
    float: right;

    padding:0 30px;
    color: #fff;
}

.carousel-item h1
{
    width: 60%;
    font-size: 20px;

    float: left;
}
.carousel-item span
{
    float: right;
    font-size: 20px;
    width: 35%;
    padding: 15px;
}
.carousel-item p{
    color:#686868;

}
.containerBg
{
    background: #151f23;
    background: -moz-linear-gradient(top, #151f23 10%, #071215 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#151f23), color-stop(100%,#071215));
    background: -webkit-linear-gradient(top, #151f23 10%,#071215 100%);
    background: -o-linear-gradient(top, #151f23 10%,#071215 100%);
    background: -ms-linear-gradient(top, #151f23 10%,#071215 100%);
    background: linear-gradient(to bottom, #151f23 10%,#071215 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151f23', endColorstr='#071215',GradientType=0 );

    padding: 20px;
    height: auto;


}
.sortfilter label
{
    width: 100%;
    color: #8f8884;
    font-size: 12px;
}
.select-dropdown
{
    width: 90%;
    background-color: #111111;
    height: 27px;
    border: 1px solid #5D5B57;
    cursor: pointer;
}
.paging
{
    width: 100%;
    background-color: transparent;
    padding: 10px;
}
.paging ul
{
    list-style: none;
    float: right;
    padding: 0;

}
.paging ul li
{
    display: inline-block;
    color: #969AA1;
    padding: 5px;
}

.pagenav{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background: #25292d;
    background: -moz-linear-gradient(top, #25292d 1%, #3c414b 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#25292d), color-stop(99%,#3c414b));
    background: -webkit-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: -o-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: -ms-linear-gradient(top, #25292d 1%,#3c414b 99%);
    background: linear-gradient(to bottom, #25292d 1%,#3c414b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25292d', endColorstr='#3c414b',GradientType=0 );
    color: #969aa1;
    padding: 5px 13px;
    margin: 0 15px;
}
.pagenav-right
{
    float: right;
}
select:focus
{
    outline: none;
}
select option
{
    border: 1px solid #5D5B57;
    margin-top: 2px;
}
.numDisplayItem
{
    width: 60%;
    font-size: 12px;
}
.numDisplayItem span
{
    font-size: 14px;
    color: #71767B;
    padding-top: 3px;
}
.modal-header
{
    color: #111111;
}
.content-modal
{
    padding: 0 30px;
}
.content-modal label
{
    width: 100%;
    text-align: right;
}
.content-modal input
{
    float: right;
}
button.close
{
    float: left;
}
.modal-title
{
    text-align: right;
}
.modal-body p{
    text-align: right;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
span.glyphicon.glyphicon-floppy-saved
{

    left: 8px;
}
div.modal-footer
{
    text-align: left;
}
.createHero
{
    width: 100%;
    background-color: #f2f2f2;
    padding: 25px;
    position: relative;
}
.createHero h1
{
    text-align: right;
    text-align: right;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    color: #138FCC;
}
.createHero label
{
    width: 100%;
    margin: 20px 0 10px 0;
    text-align: right;
}
.col-md-6.oneInput {
    float: right;
}
.col-md-6.oneInput input
{
    float: right;
}
.createHero input[type=text],.createHero select
{
    width: 75%;
    height: 30px;
    color:#222
}
.createHero label

{
    color: #111111;
}
.list-hero-edit
{
    list-style: none;
    color: #eeeeee;
    width: 100%;
    float: left;
    padding: 0;

}
.list-hero-edit li{
    cursor: pointer;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
}
.listhero-name
{
    width: 50%;
    float: left;
}
.list-hero-edit li:nth-of-type(odd)
{
    background-color: #D6D6D6;
    float: left;

}
.editicon
{
    text-align: center;
}
.filter-herolist
{
    background-color: #A9B8CE;
    padding: 10px 30px;
}
.new-item
{
    text-align: right;
}
.new-item a
{
    font-size: 20px;
    margin-left: 6px;

}
.new-item a button
{
    margin:0 0 10px 0;
}
.edit-button
{

}
.edit-button button
{
   background-color: #A0A8AD;
    color: #000;
}
.edit-button button:hover
{
    background-color: #b0b8bd;
}
button#myButton {
    padding: 5px 50px;
}
.create-form .col-md-6
{
    float: right;

}
.create-slide .col-md-6
{
    float: right;

}
.create-slide input
{
    float: right;
}
.create-input
{
    float: right;
}
.create-texterea.form-control
{
    width: 66%;
    float: right;
}
.modal-footer span
{
    float: right;
}
.draging-box
{
    width: 100%;
    height: 250px;
    border: 5px dashed rgb(85, 85, 85);
    padding: 50px;
    position: relative;
    text-align: center;
    font-size: 3em;
    color: #E2E2E2;
    line-height: 150px;

}
.btn-upload{
    position: relative;
    z-index: 1;
    top: 150px;
    text-align: center;
}
.item img
{
    width: 100%;
}
.legend-discount
{
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 10%;
}
.fieldset-discount
{
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    margin-top: 30px;
}

#gif
{
    width: 100%;
    position: absolute;
    top:0;
    right: 0;
    background-color: #010101;
    opacity: .3;
    height: 100%;
    z-index: 9999;
    visibility: hidden;


    
}

@-moz-keyframes spin { 100% {
    -moz-transform:rotate(360deg);
}
}
@-webkit-keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
}
}
@keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
}

.loading{
   /* background: url("/../../public/images/loading 2.gif");*/
    position: absolute;
    top: 70%;
    right: 45%;
    width: 100px;
    height: 64px;

   opacity: 1;

}

.loading:after
{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
    width: 3.2585em;
    height: 3.2585em;
    margin: 0 0 0 -1.12925em;
    border-color: #FFF transparent transparent;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;

}
.loading:before
{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    border-radius: 500rem;
    border: .2em solid rgba(0,0,0,.1);
    width: 3.2585em;
    height: 3.2585em;
    margin: 0 0 0 -1.12925em;
    border-color: rgba(255,255,255,.4);
}


.coombbox-create
{
    position: relative;
    right: -23%;
}