<article class="content">
    <div class="row">
        <div class="col-md-12">
            <form action="/createHero" method="post">
                <label>name category</label>
                <input type="text" name="name" >
                <label>name item</label>
                <input type="text" name="itemName" >
                <label>directory image</label>
                <input type="text" name="imageUrl" >
                <input type="hidden" name="imageUrl">

                <input type="submit">
            </form>
        </div>


    </div>

</article>