<article class="content" xmlns="http://www.w3.org/1999/html">
    <div class="  createHero">
        <div class="row">
            <div class="col-md-12">
                <h1 class="filter-herolist">filtering</h1>
                <a href="/admin/hero/create"> <span class="glyphicon glyphicon-level-up" style="font-size: 35px;"
                                                    aria-hidden="true"></span></a>
                <ul class="list-hero-edit">
                    <% heros.forEach(function(hero){ %>
                    <li>
                        <a>
                            <div class="listhero-name"><%= hero.name %></div>
                        </a>

                        <div>
                            <a href="/hero/edit/<%= hero._id %>">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="/hero/delete/<%= hero._id %>">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <a href="/hero/changePrice/<%= hero._id %>">>
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                            </a>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</article>