<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/ejs" charset="utf-8"/>
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <link href="/public/css/toastr.css" rel="stylesheet"/>

    <link href="/public/css/kendo.common.min.css" rel="stylesheet">
    <link href="/public/css/kendo.bootstrap.min.css" rel="stylesheet">

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/kendo.web.min.js"></script>
    <script src="/public/js/toastr.js"></script>

</head>
<body class="main-body">

<script>
    $(function () {
        debugger;
        var jsonNotifiction = '<%= JSON.stringify(notify)%>'.replace(/&quot;/g, '"');
        var notification = JSON.parse(jsonNotifiction);

        if(notification.hasOwnProperty('type')){
            toastr[notification.type](notification.message, notification.title);
        }
    })
</script>

<div class="row head-top">


    <div class="col-md-12" style="padding: 0; ">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid " style="margin-top: 40px;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <script>
                    $(document).ready(function(){
                        persian={0:'۰',1:'۱',2:'۲',3:'۳',4:'۴',5:'۵',6:'۶',7:'۷',8:'۸',9:'۹'};
                        function traverse(el){
                            if(el.nodeType==3){
                                var list=el.data.match(/[0-9]/g);
                                if(list!=null && list.length!=0){
                                    for(var i=0;i<list.length;i++)
                                        el.data=el.data.replace(list[i],persian[list[i]]);
                                }
                            }
                            for(var i=0;i<el.childNodes.length;i++){
                                traverse(el.childNodes[i]);
                            }
                        }
                        traverse(document.body);
                    });
                </script>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse admin" id="bs-example-navbar-collapse-9"
                     aria-expanded="false" style="padding: 0 5px 0">



                    <ul class="nav navbar-nav nav-main-admin">
                        <li><a href="/">صفحه اصلی سایت</a></li>
                        <li><a href="/admin/slides">اسلایدشو</a></li>
                        <li><a href="/admin/heroCategories/create">ایجاد هیرو</a></li>
                        <li><a href="/admin/heroCategories">لیست هیروها</a></li>
                        <li><a href="/admin/heroCategories">ویرایش هیرو</a></li>
                        <li><a href="/admin/hero/create">ایجاد آیتم </a></li>
                        <li><a href="/admin/heros"> لیست آیتم ها</a></li>
                        <li><a href="/admin/heros">ویرایش آیتم ها</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>


</div>


</article>

<%- body %>
</body>

<script src="/../public/js/bootstrap.js"></script>



</html>