<article class="content" xmlns="http://www.w3.org/1999/html">
    <div class="createHero">



        <form action="/admin/slideshow/create" method="post">

            <div class="row">
                <div class="col-md-6">
                    <label>Item name</label>
                    <input type="text" name="name"></div>
                <div class="col-md-6">
                    <label>price</label>
                    <input type="text" name="price">
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>description</label>
                    <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>upload image</label>
                    <div id="uploader">
                        <div id="drop_element" class="draging-box">
                            DRAG IMAGE OR FILE
                        </div>
                        <img src="" id="uploadedFile" style="display: none">
                        <input type="hidden" name="image" id="imageUrl">
                    </div>

                </div>
                <div class="col-md-4 btn-upload"><a class="btn btn-primary" id="btn_choosefile">Upload File</a></div>

                <input type="hidden" name="imageUrl">
            </div>


            <div class="row">
                <div class="col-md-12" style="text-align: center; margin: 20px 0;">
                    <input type="submit">
                </div>
                <div class="col-md-12 edit-button"><a href="/admin/heros">
                        <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary"
                                autocomplete="off">
                            edit itemHero
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </a></div>
            </div>

        </form>
    </div>
</article>

<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/plupload/js/plupload.full.min.js"></script>
<script>
    window.JalaliDate = Date;
</script>


<script>
    var uploader = new plupload.Uploader({
        container: document.getElementById('uploader'),
        browse_button: 'btn_choosefile',
        runtimes: 'html5,flash,silverlight,html4',
        url: "/api/upload",
        filters: [
            {title: "Image files", extensions: "jpg,gif,png"},
        ],
        drop_element: 'drop_element',
        dragdrop: true,

        init: {
            FileUploaded: function (file, up, res) {
                var fileName = JSON.parse(res.response).fileName;
                $('#imageUrl').val(fileName);
                $('#uploadedFile').attr('src', '/' + fileName);
                $('#uploadedFile').show();
            },
            FilesAdded: function (up, files) {
                debugger;
                up.start();
            }
        }
    });
    uploader.init();
    </script>